@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');


.container {
    font-family: 'Playfair Display', serif;
    position: relative; /* Allows the absolute positioning of child elements */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevents scrollbars from appearing if the SVG overflows */
}

.waveContainer {
    position: absolute; /* Positions the container absolutely within the parent */
    bottom: -1; /* Aligns the container to the bottom of the parent */
    left: 0;
    width: 100vw; /* Ensures the container spans the full width */
    height: auto; /* Allows the container height to adjust based on the SVG */
    z-index: -1; /* Places the container behind other content */
}

.wave {
    width: 100%; /* Ensures the SVG covers the full width of the container */
    height: auto; /* Maintains the aspect ratio of the SVG */
}
  
  /* Overlapping image container */
  .overlappingImageContainer {
    position: absolute;
    bottom: 35%; /* Adjust this value to control how much the image overlaps */
    right: 200px; /* Adjust based on desired horizontal position */
    z-index: 1; /* Ensures it's above the wave */
  }
  
  .overlappingImage {
    width: 600px; /* Adjust the size of the image */
    height: auto;
  }

/* Header */
.header {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px;
    align-items: center;
    flex-shrink: 0; /* Prevent the header from shrinking */
}

.header img {
    width: 75px;
    height: auto;
}

.header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
    transition: border-bottom 0.1s ease;
}

.header a:hover{
    border-bottom: 2px solid black;
}

/* Hero */
.hero {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex: 1;
    padding-bottom: 100px;
}

.hero h1{
    font-size: 75px;
    width: 85%;
    margin-bottom: 0;
}

.hero p{
    font-size: 20px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero button {
    width: 150px;
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
}

